
.hello {

    width: 500px;
    height: 500px;
    background-color: crimson;

}

.name {

    font-size:          5rem;

}

.divss {

    font-size:          15px;

}

chess-board {
    position:           relative;
    display:        block;
    width:          30vw;
    height:         30vw;
}

body {
    display:        grid;
    place-items:    center;
    height:         100vh;
}
